@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html, body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#formLogin, .form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn-success{
    background: #27AE60;
}

header{
    background: #27AE60;
}

main{
    background-color: #ffffff;
}

aside{
    background-color: #27AE60;
}

a{
    background-color: #2ECC71;
    color: #ffffff;
}

#btnSignOut{
    height: 45px;
    align-self: center;
    background-color: #27AE60;
    border-width: 2px;
    padding: 10px 25px;
}

main{
    color: #2C3E50;
}

@media (max-width: 768px) { 
    #hero{
        display: none;
    }
}